<h1>Listing Articles</h1>

<%= link_to 'New article', new_article_path %>

<div id="home">
  
  
  <% @articles.each do |article| %>
    <h2 class='article-title'><%= link_to article.title, article_path(article) %> </h2>
    
   <h3 class='article-created-at'> <small ><%= friendly_date(article.created_at) %></small></h3>

    <p class='article-body'><%= article.text %></p>
    <%= link_to 'Edit', edit_article_path(article) %>
    <%= link_to 'Destroy', article_path(article),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>

    