<!DOCTYPE html>
<html>
<head>
  <title>MyBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <div>
        <H2 class="brand">Coding my life</H2>
      </div>
      <ul class="cf">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", "#" %></li>
        <li><%= link_to "Articles", articles_path %></li>
        <li><%= link_to "Contact me", "#" %></li>
      </ul>
    </nav>
  </header>

  <div id="main">
    <div class="leftsidebar">
      <p>&nbsp;</p>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <div class="sidebar">
      <h3>Welcome to my blog <span class="heart">&#9829;</span></h3>
      <%= image_tag "aboutphoto.jpg", alt: "katherine", class: "about-photo" %>
      <br/>
      <p>about</p>
    </div>
  </div>

</body>
</html>
