<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Coding My Life" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "fashion and code equals my life." %>">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>

      <% if admin_signed_in? %>
      <ul class="cf">
        <%= render 'layouts/devise_links' %>
      </ul>
      <% end %>  
      <div>
        <H2 class="brand"><%= link_to "Coding My Life", root_path %></H2>
      </div>
      <ul class="cf">
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Fashion", fashion_path %></li>
        <li> <%= link_to "Programming" , programming_path %></li>
        <li class="portfolio-link">
          <%= link_to "Portfolio", soon_path, target: "_blank"%>
        </li>
        <li><%= link_to "Contact me", "#" %></li>
      </ul>
    </nav>
  </header>

  <div id="main">
    <div class="leftsidebar">
      <p>&nbsp;</p>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <div class="sidebar">
      <h3>Welcome to my blog <span class="heart">&#9829;</span></h3>
      <%= image_tag "aboutphoto.jpg", alt: "katherine", class: "about-photo" %>
      <br/>
      <p class="fancy-font-lg"> Find me on:</p>
      <%= link_to "Look Book", "http://lookbook.nu/katherinemuedas", target: "_blank" , class: "lookbook"%>
    </div>
  </div>

</body>
</html>
